/*** CSS RESET ***/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #404040;
  background-color: #faf9f6;
  font:
    400 15px/22px "Source Sans Pro",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}

button {
  background-color: rgb(51 65 85);
  color: #faf9f6;
  padding: 0.25em 0.75em;
  border-radius: 8px;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

/*** SIDEBAR RESTAURANT LISTINGS ***/

.map-and-sidebar-container {
  display: grid;
  /* grid-template-rows: 1fr 2fr; */
  height: 100vh;
}

.map-wrap {
  position: fixed;
  height: 60vh;
  width: 100%;
}

.sidebar {
  display: grid;
  grid-template-rows: auto auto 1fr;
  z-index: 1;
  margin-top: 60vh;
  background-color: #faf9f6;
}

@media screen and (min-width: 768px) {
  .map-and-sidebar-container {
    grid-template-columns: 1fr 2fr;
  }

  .map-wrap {
    position: relative;
    order: 1;
    height: auto;
    width: auto;
  }

  .sidebar {
    margin-top: 0;
  }
}

.map {
  height: 100%;
}

.listings .item {
  border-bottom: 2px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child {
  border-bottom: none;
}

.listings .item a,
.listings .item a span {
  display: block;
  font-weight: 600;
}

.listings .item a small {
  font-weight: 400;
}

.listings .item.active a,
.listings .item a:hover {
  /* opacity: 0.7; */
  font-weight: 900;
  text-decoration: underline;
}

.listings .item.active {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0 0 0 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}

/*** LOCATION SEARCH BAR ***/

.geocoding {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 22rem;
  max-width: 90%;
}

.geocoding form {
  width: auto !important;
  max-width: none !important;
}

.geocoding input {
  font-size: 16px !important;
}

/*** MARKER POPUP ***/

.maplibregl-popup {
  color: #000;
  font-size: 14px;
  padding-bottom: 30px;
}

.maplibregl-popup-close-button {
  color: inherit;
}

/*** RESTAURANT SEARCH BAR ***/

#typeahead-menu {
  display: grid !important;
}

.typeahead-container {
  color: black;
  padding: 20px;
}

.typeahead-container .form-control {
  width: 100%;
  padding-left: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
}

.typeahead-list__container {
  margin: 0;
  padding: 0;
}

.typeahead-list__item {
  list-style-type: none;
  padding: 5px 10px;
  margin: 0;
  font-size: 1em;
}

.typeahead-active {
  background: #eaeaea;
}

/* Loading... div. Hidden because it is rendered to the side so I made my own */
.rbt-aux {
  display: none;
}

/* SEARCH THIS AREA BUTTON */
.search-area-btn {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

/* ZOOM AND GEOLOCATE BUTTONS */

.maplibregl-ctrl-top-right {
  top: 15%;
}
