body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.restaurants-container {
  width: 100vw;
  height: 80vh;
  padding-left: 0;
  padding-right: 0;
}

.cuisine-restaurants-container {
  width: 100vw;
  height: 50vh;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (min-width: 768px) {
  .restaurants-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .cuisine-restaurants-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
